div {
    display: flex;
    align-items: center;
}
  
.header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, #004aad, #cb6ce6);
    padding: 8px;
    text-align: center;
    justify-content: space-between;
}
  
    .logo-img {
        width: 100px;
        height: auto;
        margin-bottom: 10px;
        margin-left: 50px;
    }
    .title{
        height: 100px;
    }
    .header-title {
        width: 600px;
        height: auto;
        margin-top: 10px;
    }

    .mensajes{    
        justify-content: space-evenly;
        width: 300px;
        margin-right: 40px;
    }
    .mensajes-img {
        width: 80px;
        height: auto;

    }
    .mensajes-img2 {
        width: 70px;
        height: auto;
    }
    .mensajes-img3 {
        width: 100px;
        height: auto;
    }

.body{
    margin-top: 120px ;
    justify-content: center;
    align-items:flex-start;
    flex-grow: 1;
}

    .left-panel{
        padding: 1%;
        flex-wrap: wrap;
        width: 120px;
        justify-content: center;
    }

        .left-img{
        width: 70px;
        height: auto;
        }

    .center-panel{
        background-color: rgb(227, 213, 213);
        width: 1000px;
        height: 3000px;
    }


    h1 {
        width: 1500px;
        text-align: center;
        font-family: "Copperplate", sans-serif;
        font-size: small;
    }

    .center-panel{
        padding: 1%;
        flex-direction: column;
        align-items: baseline;
    }

    .cuadro-texto{
        align-items: flex-start;

    }
    .text-label{
        margin-right: 100px;
        font-size: x-large;
        width: 750px;
        height: 40px;

    }
    .comment{
        flex-wrap: wrap;
    }
    .comment-option {
        width: 60px;
        height: auto;
        margin-top: 1%;
    }
    .comment-option2 {
        width: 70px;
        height: auto;
        margin-top: 1.5%;
    }
    .comment-option3 {
        width: 50px;
        height: auto;
        margin-top: 1.5%;
    }

    .boton-publicar {
        margin-top: 1.5%;
        margin-left: 20px;
        background-image: linear-gradient(to right,#004aad, #cb6ce6);
        border-color: aliceblue;
        color: white;
        padding: 10px 20px; 
        text-align: center; 
        font-size: 18px; 
        cursor: pointer;
        border-radius: 100px; 
    }

    .publication{
        margin-top: 8%;
        flex-wrap: wrap;
    }
    .username{
        align-items: baseline;
        flex-direction: column;
        width: 700px;
    }
    h2 {
        margin: 0;
        width: 200px;
        font-family: "Copperplate", sans-serif;
        font-size: x-large;
    }
    h3 {
        margin: 0;
        width: 180px;
        font-family: "Copperplate", sans-serif;
        font-size:medium;
        color: rgb(70, 70, 70);
        margin-left: 20px;
    }

    h4{
        width:800px;
        margin-left: 100px;
        font-weight: normal;
        font-size: 20px;

    }
    span{
        color:blue;
    }
    .imagen-chicas {
        height: 400px;
        margin-left: 70px;
    }
    .foto-chicas{
        width: 800px;
        height: auto;
    }

    .search-label{
        margin-right: 100px;
        font-size: x-large;
        width: 750px;
        height: 40px;
    }

.right-panel{
    width: 400px;
    height: 300px;
    position: relative;
    margin-left: 500px;
    margin-top: 340px;
}

.giant-image {
    position: absolute; 
    top: 30%; 
    left: 0%; 
    transform: translate(-55%, -50%); 
  }

.reels{
    width: 1500px;
    height: auto;

}