
<div class="header">
  <div class="logo">
    <img src="assets/splogo.png" alt="Logo de la red social Solo Panas" class="logo-img">
  </div>

  <div class="mensajes">
    <img src="assets/mensaje.png" alt="notificacion de mensaje sin leer" class="mensajes-img">
    <img src="assets/notificacion.png" alt="notificaciones generales" class="mensajes-img2">
    <img src="assets/perfil.png" alt="imagen del perfil actual" class="mensajes-img3">
  </div>
</div>

<div class="body">
<div class="left-panel">
  <img src="assets/home.png" alt="imagen y boton de home" class="left-img">
  <h1>HOME</h1>
  <img src="assets/lupa.png" alt="imagen y boton de buscar" class="left-img">
  <h1>BUSCAR</h1>
  <img src="assets/panas.png" alt="imagen y boton de amigos" class="left-img">
  <h1>PANAS</h1>
  <img src="assets/album.png" alt="imagen y boton de album de fotos" class="left-img">
  <h1>ALBUM</h1>
  <img src="assets/edit.png" alt="imagen y boton de editar" class="left-img">
  <h1>EDITAR</h1>

</div>
<div class="center-panel">
  <div class="comment-section">
    <img src="assets/perfil.png" alt="imagen de mi perfil" class="mensajes-img3">
    <div class="comment">
      <input type="text" placeholder="Cuentate algo..." class="text-label">
      <img src="assets/subirimagen.png" alt="imagen de mi perfil" class="comment-option">
      <img src="assets/emoticon.png" alt="imagen de mi perfil" class="comment-option2">
      <img src="assets/mas.png" alt="imagen de mi perfil" class="comment-option3">
      <button class="boton-publicar">PUBLICAR</button>
    </div>
  </div>
  <div class="publication">
    <img src="assets/perfildamian.png" alt="imagen de mi perfil" class="mensajes-img3">
    <div class="username">
      <h2>Damian Martínez</h2>
      <h3>@DamMart3</h3>
    </div>
    <h4>
      Esta es mi última sesión de fotos con mis grandes amigas de toda la vida, las 
      guapisimas <span class="link">@DanaTorres23</span> y <span class="link">@SamyP20</span>.
    </h4>
    <div class="imagen-chicas">
      <img src="assets/fotochicas.png" alt="imagen de chicas sonriendo" class="foto-chicas">
    </div>
  </div>
</div>

<div class="right-panel">
  <div class="giant-image">
    <img src="assets/rightpanel.png" alt="contactos para seguir" class ="reels">
  </div>
</div>
</div>